@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
  }


.purple {
  color: rgb(73, 0, 141);
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
}
/* 

NAVIGATION

*/

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px;
  border-bottom: 4px solid rgb(157, 214, 0);
}

.logo-img {
  height: 80%;
  width: 80%;
}

.nav-links {
 display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin-left: 24px;
  font-weight: 500;
  transition: all 300ms ease;
  color: black;
}

.nav-link:hover {
  transition: all 300ms ease;
  color: rgb(73, 0, 141);
  cursor: pointer;
}

.link-hover-effect {
  position: relative;
  transition: all 300ms ease;
}

.link-hover-effect::after{
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: rgb(73, 0, 141);
  transition: all 300ms ease;
}

.link-hover-effect:hover::after {
  left: 0;
  width: 100%;
}

.nav-btn {
  font-size: 45px;
  display: none;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.contact-btn {
  width: 120px;
  height: 48px;
  background-color: rgb(73, 0, 141);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  margin-left: 24px;
  transition: all 300ms ease;
}

.contact-btn:hover {
  cursor: pointer;
  background-color: rgb(106, 0, 206);
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 99;
  background-color: rgb(97, 97, 97);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%); 
  transition: transform 0.3s ease;
}

.sidebar-links {
  margin-top: 0px;
}

.sidebar-link {
  z-index: 1000;
  display: block !important;
  margin: 0;
  display: flex;
  color: white;
  margin-top: 100px;
}

.sidebar-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50px;
  left: 20px;
  font-size: 36px;
  color: white;
  cursor: pointer;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(100%);
}


/* 

MODAL

*/

.modal-contact {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(53, 53, 53);
  height: auto;
  width: 600px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  transform: translateX(200%); 
  transition: transform 0.3s ease;
}

.modal-close {
  font-size: 32px;
  background-color: transparent;
  border: none;
  color: white;
  padding-top: 20px;
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 24px;
}

.modal-title {
  margin-top: 80px;
  margin-bottom: 48px;
  padding-left: 12px;
  padding-right: 12px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item {
 margin-bottom: 48px;
 margin-left: 50px;
 display: flex;
}

.form-item-label {
  margin-right: 24px;
}
.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 300px;
  outline: none;
  color: white;
}

.form-submit {
  width: 50%;
  height: 42px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  border: none;
  border-radius: 20px;
  transition: all 300ms ease;
}

.form-submit:hover {
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}

.modal-subtitle {
  padding-bottom: 48px;
}

.modal-contact.open {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-contact.close {
  transform: translateX(100%);
}

.referral-button {
  color: rgba(0, 140, 255, 0.918);
  text-decoration: underline;
}

/* 

LANDING

*/


.landing-container {
  position: relative;
}

.landing-img {
  height: 85vh;
  width: 100vw;
  filter: blur(3px);
}

.landing-desc-container {
 position: absolute;
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 top: 20%;
 margin: 24px;
 padding-right: 50px;
 padding-left: 50px;
 z-index: 1;
}

.landing-title {
  color: white;
  font-size: 70px;
  text-shadow: 2px 2px 24px rgba(0, 0, 0, 1);
  z-index: 1;
  margin-bottom: 24px;
}

.landing-subtitle {
  width: 80%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-shadow: 2px 2px 24px rgba(0, 0, 0, 1);
  z-index: 1;
  margin-bottom: 24px;
}

.landing-btn {
  width: 220px;
  height: 48px;
  background-color: rgb(73, 0, 141);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin-top: 24px;
  transition: all 300ms ease;
}

.landing-btn:hover {
  cursor: pointer;
  background-color: rgb(106, 0, 206);
}

/* 

ABOUT US

*/

#about {
  margin-bottom: 48px;
}

.about-row {
  width: 80%;
  display: flex;
}

.about-title {
  color: rgb(106, 0, 206);
  font-size: 42px;
  text-align: center;
  margin-bottom: 12px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-bottom: 24px;
}

.about-text {
  line-height: 2;
  color: rgb(56, 56, 56);
  font-size: 18px;
  font-weight: 600;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  margin-left: 18px;
  margin-right: 0;
}

.about-text1 {
  margin-bottom: 40px;
}

.about-img-wrapper {
  width: 50%;
  height: 100%;
}

.about-img {
  height: 80%;
  width: 80%;
  object-fit: cover;
}

/* 

SERVICE

*/

.services-container {
  text-align: left;
  margin: 0;
}

.service-title {
  margin-top: 24px;
  color: rgb(106, 0, 206);
  font-size: 42px;
  text-align: center;
  margin-bottom: 12px;
}

.services-subtitle {
  margin-bottom: 24px;
  color: rgb(56, 56, 56);
  text-align: center;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

.placement-container {
  display: flex;
  width: 80%;
}

.placement-row {
  line-height: 1.5;
  color: rgb(56, 56, 56);
  font-size: 16px;
  font-weight: 300;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  margin-left: 18px;
  margin-right: 0;
}

.placement-title {
  text-align: left;
  margin: 0;
  margin-bottom: 12px;
}

.placement-desc {
  margin-bottom: 12px;
}

.service-img-wrapper {
  width: 50%;
  height: 100%;
  margin-left: 24px;
}

.service-img {
  height: 80%;
  width: 80%;
  object-fit: cover;
}

.service-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.ws-title {
  color: rgb(56, 56, 56);
  margin-bottom: 24px;
}

.service-list-container {
  margin-bottom: 12px;
  background-color: rgba(125, 0, 241, 0.178);
  width: calc(100% / 3);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 42px;
  border-radius: 12px;
  text-align: left;
}

.service-list {
  display: flex;
  margin: 0;
}

.service-list-item {
  color: rgb(56, 56, 56);
  width: 100%;
  font-size: 20px;
  margin: 0;
  margin-top: 12px;
}

.check-icon {
  color: rgb(106, 0, 206);
  padding-right: 12px;
}

/* 

FOOTER

*/

#footer {
  background-color: rgb(77, 77, 77);
  height: 180px;
  width: 100%;
}

.footer-text-container {
  padding-top: 24px;
}
.footer-text {
  color: white;
  margin-bottom: 12px;
}

.footer-copyright {
  color: white;
}


/* 

RESPONSIVENESS

*/

@media (max-width: 768px) {
  .service-list {
    width: 100%;
    margin-right: 24px;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .service-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .service-list-container {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .nav-link {
    display: none;
  }

  .nav-btn {
    display: block;
  }

  .about-row {
    display: flex;
    flex-direction: column;
  }

  .about-text {
    width: 100%;
  }

  .about-img-wrapper {
    padding-top: 24px;
    width: 100%;
  }

  .placement-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .placement-row {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }

  .service-img-wrapper {
    width: 100%;
  }

  .modal-contact {
    width: 450px;
    height: auto;
  }

  .modal-title {
    font-size: 18px;
  }

  .form-item {
    padding-right: 24px;
    margin-left: 12px;
  }
  
}

@media (max-width: 480px) {
  .landing-desc-container {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .modal-contact {
    width: 350px;
    height: auto;
  }

  .modal-title {
    font-size: 18px;
  }

  .form-item {
    padding-right: 24px;
    margin-left: 12px;
    width: 80%;
  }
}